<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-text>
          <h1>Introduction to RxJS</h1>
        </ion-text>
        <ion-text>
          <p>
            Reactive programming is an asynchronous programming paradigm
            concerned with data streams and the propagation of change.
          </p>
          <p>
            RxJS is a library for composing asynchronous and event-based
            programs by using observable sequences.
          </p>
          <p>
            RxJS forms an integral part of the Angular framework. In addition,
            the popular Ionic framework (used for hybrid mobile development) is
            based on the Angular framework.
          </p>
          <p>
            Adding reactive programming skills to your toolbox will enable you
            to accomplish more with less code and in style.
          </p>
          <p>
            This app aims to introduce the basic concepts from the extremely
            popular library RxJS, a powerful 'Reactive' approach to writing
            asynchronous code.
          </p>
          <p>
            This is done by walking through several demos, which can be found in
            the side-menu.
          </p>
          <p>
            It is recommended that the demos be followed in the order they are
            arranged in the side-menu.
          </p>
          <p>
            Most of these examples have been adapted from the sources listed
            below:
          </p>
          <p>
            <a
              href="https://rxjs-dev.firebaseapp.com/guide/overview"
              target="_blank"
              >The Official RxJS Documentation
              <ion-icon name="open-outline"></ion-icon>
            </a>
          </p>
          <p>
            <a href="http://reactivex.io/intro.html" target="_blank"
              >The Official ReactiveX Documentation
              <ion-icon name="open-outline"></ion-icon>
            </a>
          </p>
          <p>
            <a
              href="https://www.youtube.com/playlist?list=PL55RiY5tL51pHpagYcrN9ubNLVXF8rGVi"
              target="_blank"
              >Understanding RxJS by Academind
              <ion-icon name="open-outline"></ion-icon>
            </a>
          </p>
          <p>
            <a
              href="https://medium.com/corebuild-software/why-you-should-learn-reactive-programming-51b6ffc31425"
              target="_blank"
              >Why you should learn Reactive Programming
              <ion-icon name="open-outline"></ion-icon>
            </a>
          </p>
          <br /><br />
          <p>This app was last updated on Mar 16, 2020.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
