ion-menu-button {
    color: #fff;
  }
  
  ion-toolbar {
    --background: var(--ion-color-primary);
  }
  
  ion-title {
    --color: #fff;
  }
  
  ion-text h1 {
    border-bottom: 1px solid var(--ion-color-primary);
  }
  