<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Prerequisites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size-md="10" offset-md="1">
        <ion-text>
          <h1>Expected background knowledge</h1>
          <p>
            To take advantage of the demos presented in this app, you are
            expected to have a decent understanding of the following:
          </p>
        </ion-text>
        <ion-list lines="none">
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../assets/images/html5_icon_image.png" />
            </ion-thumbnail>
            <ion-label>
              <h2>HTML</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../assets/images/css_icon_image.png" />
            </ion-thumbnail>
            <ion-label>
              <h2>CSS</h2>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../assets/images/javascript_icon_image.png" />
            </ion-thumbnail>
            <ion-label>
              <h2>Javascript</h2>
            </ion-label>
          </ion-item>
          <!-- <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../assets/images/typescript_icon_image.svg" />
              </ion-thumbnail>              
              <ion-label>
                <h2>Typescript</h2>
              </ion-label>
            </ion-item> -->
        </ion-list>
        <ion-text>
          <p>
            These 3 prequisites can be learned at:
          </p>
          <p class="ion-padding">
            <a
              href="https://www.freecodecamp.org"
              target="_blank"
              >freeCodeCamp
              <ion-icon name="open-outline"></ion-icon>
            </a>
          </p>
          <p>
            A crash course on the core concepts of the RxJS library can be found
            at the link below:
          </p>
          <p class="ion-padding">
            <a
              href="https://www.learnrxjs.io/learn-rxjs/concepts/rxjs-primer"
              target="_blank"
              >RxJS Primer              
              <ion-icon name="open-outline"></ion-icon>
            </a>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
